<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StaffTableMapper">
    
    <resultMap type="StaffTable" id="StaffTableResult">
        <result property="id"    column="id"    />
        <result property="staffId"    column="staffId"    />
        <result property="staffName"    column="staffName"    />
        <result property="staffSex"    column="staffSex"    />
        <result property="staffJob"    column="staffJob"    />
        <result property="staffSlr"    column="staffSlr"    />
    </resultMap>

    <sql id="selectStaffTableVo">
        select id, staffId, staffName, staffSex, staffJob, staffSlr from staff_table
    </sql>

    <select id="selectStaffTableList" parameterType="StaffTable" resultMap="StaffTableResult">
        <include refid="selectStaffTableVo"/>
        <where>  
            <if test="staffId != null "> and staffId = #{staffId}</if>
            <if test="staffName != null  and staffName != ''"> and staffName like concat('%', #{staffName}, '%')</if>
            <if test="staffSex != null  and staffSex != ''"> and staffSex = #{staffSex}</if>
            <if test="staffJob != null  and staffJob != ''"> and staffJob = #{staffJob}</if>
            <if test="staffSlr != null "> and staffSlr = #{staffSlr}</if>
        </where>
    </select>
    
    <select id="selectStaffTableById" parameterType="Long" resultMap="StaffTableResult">
        <include refid="selectStaffTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStaffTable" parameterType="StaffTable" useGeneratedKeys="true" keyProperty="id">
        insert into staff_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="staffId != null">staffId,</if>
            <if test="staffName != null">staffName,</if>
            <if test="staffSex != null">staffSex,</if>
            <if test="staffJob != null">staffJob,</if>
            <if test="staffSlr != null">staffSlr,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="staffId != null">#{staffId},</if>
            <if test="staffName != null">#{staffName},</if>
            <if test="staffSex != null">#{staffSex},</if>
            <if test="staffJob != null">#{staffJob},</if>
            <if test="staffSlr != null">#{staffSlr},</if>
         </trim>
    </insert>

    <update id="updateStaffTable" parameterType="StaffTable">
        update staff_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="staffId != null">staffId = #{staffId},</if>
            <if test="staffName != null">staffName = #{staffName},</if>
            <if test="staffSex != null">staffSex = #{staffSex},</if>
            <if test="staffJob != null">staffJob = #{staffJob},</if>
            <if test="staffSlr != null">staffSlr = #{staffSlr},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStaffTableById" parameterType="Long">
        delete from staff_table where id = #{id}
    </delete>

    <delete id="deleteStaffTableByIds" parameterType="String">
        delete from staff_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>